

<div class="booyah-box col-xs-10 col-xs-offset-1">
  <div class="col-xs-12 col-sm-4 center">
    <%= image_tag 'tikimask.jpg', id: 'user-pic' %>
  </div>

  <div class="col-xs-12 col-sm-8 center">
    <h1><%= @user.email %></h1>
    <h3>Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></h3>
    <h4><%= @user.places.count %> places added</h4>
    <h4><%= @user.comments.count %> total comments</h4>
    <h4><%= @user.comments.where(rating: '5_stars').count %> 5-Star Ratings</h4>
  </div>
  <div class="clear"></div>
  <br />
</div>

<div class="booyah-box col-xs-10 col-xs-offset-1 ">
  <h2 class="text-center hut">My<br /><span class="star">&#10031</span> Comments <span class="star">&#10031</span></h2>
  <br />
  <% @user.comments.each do |comment| %>
  <div class="col-xs-12 col-sm-6">
    <h2 class="hut text-center"><%= link_to comment.place.name, place_path(comment.place)%></h2>
    <blockquote>
      <%= comment.message %><br />
      <% if comment.humanized_rating.present? %>
      <span class="star"><%= comment.humanized_rating %></span>
      <span class="small"><%= comment.user.email %></span>
      <% end %>
    </blockquote>
  </div>
  <% end %>
</div>

<div class="clearfix"></div>

<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h2 class="text-center hut"><span class="star">&#10031</span> My Places <span class="star">&#10031</span></h2>

  <br />
  <% @user.places.each do |place| %>
  <div class=" col-xs-12">
    <h1 class="hut"><%= link_to place.name, place_path(place) %></h1>
    <h4 class="address"><%= place.address %></h4><br />
    <p><%= place.description %></p> <br />
  </div>
  <%end%>

</div>
