<div class="pages">
  <%= paginate @places %>
</div>

<% @places.each do |place| %>
<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1 class="hut"><%= link_to place.name, place_path(place) %></h1>
  <h4 class="address"><%= place.address %></h4><br />
  <p><%= place.description %></p> <br />

  <!--  <% if place.user.present? %>
  <small><%= place.user.email %></small>
  <% end%> -->

  <% if place.comments.present? %>
  <div class="col-xs-12">
    <blockquote>
      <%= place.comments.last.message %> <br />
      <% if place.comments.last.humanized_rating.present? %>
      <span class="star"><%= place.comments.last.humanized_rating %></span>
      <span class="small"><%= place.comments.last.user.email %></span>
      <% end %>
    </blockquote>
  </div>
  <% end %>
</div>

<% end %>
<br  />
<div class="pages">
  <%= paginate @places %>
</div>
